@font-face {
    font-family: Dancing;
    src: url("../fonts/DancingScript-VariableFont_wght.ttf");
}
@font-face {
    font-family: EastSeaDokdo;
    src: url("../fonts/EastSeaDokdo-Regular.ttf");
}
@font-face {
    font-family: Farsi;
    src: url("../fonts/Farsi Simple Bold.ttf");
}
@font-face {
    font-family: Satisfy-Regular;
    src: url("../fonts/Satisfy-Regular.ttf");
}
@font-face {
    font-family: Courgette-Regular;
    src: url("../fonts/Courgette-Regular.ttf");
}